.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/.name
/.idea/Project.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/app.iml
/.idea/codeStyles/Project.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea/codeStyles/Project.xml
.idea/gradle.xml
.idea/misc.xml
.idea/vcs.xml
*.iml
.idea/
.idea/client.android.iml
.idea/codeStyles/codeStyleConfig.xml
.idea/runConfigurations.xml
*.aab
*.apk
